language: php

sudo: false

php:
    - 5.6
    - 7.0
    - 7.1

matrix:
    fast_finish: true

services:
    - mongodb

env:
    - SYMFONY_VERSION=2.8.* DB=pdo_mysql DB_USER=root DB_NAME=lexik_test
    - SYMFONY_VERSION=3.0.* DB=pdo_mysql DB_USER=root DB_NAME=lexik_test
    - SYMFONY_VERSION=3.1.* DB=pdo_mysql DB_USER=root DB_NAME=lexik_test
    - SYMFONY_VERSION=3.2.* DB=pdo_mysql DB_USER=root DB_NAME=lexik_test
    - SYMFONY_VERSION=3.3.* DB=pdo_mysql DB_USER=root DB_NAME=lexik_test

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - if [ -x .travis/before_install.sh ]; then .travis/before_install.sh; fi;

install:
    - if [ -x .travis/install.sh ]; then .travis/install.sh; fi;

script:
    - php vendor/bin/phpunit -v