language: php

sudo: false

php:
    - 7.4
#    - 8.0  PHP 7.1 requires a version of PHPUnit (7.5.2) that is too old for 8.0

matrix:
    fast_finish: true

services:
    - mongodb
    - mysql

env:
    - SYMFONY_VERSION=5.0.* DB=pdo_mysql DB_USER=root DB_NAME=lexik_test DEPENDENCIES=alpha
    - SYMFONY_VERSION=5.2.* DB=pdo_mysql DB_USER=root DB_NAME=lexik_test DEPENDENCIES=alpha
cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - if [ "$DEPENDENCIES" = "beta" ]; then composer config minimum-stability beta; fi;
    - if [ "$DEPENDENCIES" = "alpha" ]; then composer config minimum-stability alpha; fi;
    - if [ -x .travis/before_install.sh ]; then .travis/before_install.sh; fi;

install:
    - if [ -x .travis/install.sh ]; then .travis/install.sh; fi;

script:
    - php vendor/bin/phpunit -v
