<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="Tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./Resources</directory>
      <directory>./Tests</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="LexikTranslationBundle Test Suite">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>
  <groups>
    <include>
      <group>util</group>
      <group>orm</group>
      <group>odm</group>
      <group>propel</group>
      <group>exporter</group>
      <group>loader</group>
      <group>importer</group>
      <group>translator</group>
      <group>command</group>
    </include>
  </groups>
  <php>
    <server name="ROOT_DIR" value="../../../../.."/>
    <server name="KERNEL_DIR" value="./Tests/app/"/>
    <server name="KERNEL_CLASS" value="AppKernel"/>
  </php>
</phpunit>
