<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         failOnDeprecation="true"
         bootstrap="Tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
    <testsuites>
        <testsuite name="LexikTranslationBundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <groups>
        <include>
            <group>util</group>
            <group>orm</group>
            <group>odm</group>
            <group>exporter</group>
            <group>loader</group>
            <group>importer</group>
            <group>translator</group>
            <group>command</group>
        </include>
    </groups>
    <php>
        <ini name="error_reporting" value="-1"/><!-- -1 == E_ALL -->
        <ini name="display_errors" value="1"/>
        <server name="ROOT_DIR" value="../../../../.."/>
        <server name="KERNEL_DIR" value="./Tests/app/"/>
        <server name="KERNEL_CLASS" value="AppKernel"/>
    </php>
</phpunit>
