.margin-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.locales-list,
.locales-list .locale label,
.locales-list .locale input {
    margin: 0;
    padding: 0;
}

.locales-list .locale {
    margin: 0 5px;
    padding: 0 5px;
}

.col-_id {
    width: 80px;
}

.col-save {
    width: 60px;
}

.pagination {
    margin: 0;
}

.table-overview .progress {
    margin: 0;
    height: 12px;
}

table .actions {
    min-width: 75px;
    display: inline-block;
}

table button.delete {
    padding: 2px 5px;
}
