lexik_translation_list:
    path:     /translations
    defaults: { _controller: "LexikTranslationBundle:Rest:list" }
    methods:  [GET]

lexik_translation_profiler:
    path:     /translations/profiler/{token}
    defaults: { _controller: "LexikTranslationBundle:Rest:listByProfile" }
    methods:  [GET]

lexik_translation_update:
    path:     /translations/{id}
    defaults: { _controller: "LexikTranslationBundle:Rest:update" }
    methods:  [PUT]

lexik_translation_delete_locale:
    path:     /translations/{id}/{locale}
    defaults: { _controller: "LexikTranslationBundle:Rest:deleteTranslation" }
    methods:  [DELETE]

lexik_translation_delete:
    path:     /translations/{id}
    defaults: { _controller: "LexikTranslationBundle:Rest:delete" }
    methods:  [DELETE]
